.box{
  width: 400px;
  height: 300px;
  border: solid 2px #f6f6f6;
  display: flex;
  align-items: flex-end;
  float: right;
  border-radius: 10px 10px 10px 10px;


}
.day0,.day1 , .day2 , .day3 , .day4, .day5, .day6, .day7{
  width: 48px;
  text-align: center;
}
.g0,.g1 , .g2, .g3 ,.g4 ,.g5 ,.g6 ,.g7 {
  color: silver;
}
.smallBox{
  width: 48px;
  border: 1px solid silver;
}
p{
margin-top: -60px;
  background: white;
  font-size: 13px;
}

