@font-face {
  font-family: 'open_sanslight';
  src: url('opensans-light-webfont.eot');
  src: url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('opensans-light-webfont.woff2') format('woff2'),
  url('opensans-light-webfont.woff') format('woff'),
  url('opensans-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

*{
  padding: 0;
  margin: 0;
}
body{
  font-size: 15px;
  font-family: 'open_sanslight';
}
//header............................................................


.headerList{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  background: black;
  color:silver;
  height: 30px;
  margin: 0;
  padding: 0;
}
.headerList li{
  width: 100px;
  height: 30px;
  border: 1px solid silver;
  text-align: center;
}

//...............................................calculating columns
.calculator{
  width: 150px;
  height: 200px;
  border: 1px solid #949194;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #949194;
}
.liczba{
  width: 100px;
  border: #949194;
  border-radius: 2px 2px 2px 2px;
}
.exchangePosition{
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.exchangeForms{
  border: 1px solid #949194;
  width: 150px;
  height: 200px;
  border-radius: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #949194;
}
option{
  font-size: 20px;
}
.wybor{
  width: 100px;
  height: 50px;
  font-size: 30px;
  border:2px solid #949194;
  border-radius: 5px 5px 5px 5px;
  text-align: center;

}
.wynik , .one{
  border: 1px solid #949194;
  width: 100px;
  height: 30px;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  overflow: hidden;
  background: white;
}
.go{
  position: relative;
  margin: 0 auto;
  background: indianred;
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  border-style: none;
}

.textValue{
  color:#595959;
}
section{
  background-image: url("../business.jpg");
  background-size: cover;
  margin-top: 0;
}
.sectionBox{
  width: 1200px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom:50px ;
  padding-top: 50px;

}
.cornerText{
  width: 600px;
  height: 200px;
  font-size: 20px;
}
.pointText{
  width: 1100px;
  position: relative;
  margin: 0 auto;
  color: #e2e2e2;
  font-size: 16px;
}
//........................................charts
.box{
  width: 400px;
  height: 230px;
  border: solid 2px #f6f6f6;
  display: flex;
  align-items: flex-end;
  float: right;
  border-radius: 10px 10px 10px 10px;
}
.day0,.day1 , .day2 , .day3 , .day4, .day5, .day6, .day7{
  width: 48px;
  text-align: center;
}
.g0,.g1 , .g2, .g3 ,.g4 ,.g5 ,.g6 ,.g7 {
  color: silver;
}
.smallBox{
  width: 48px;
  border: 1px solid silver;
}
p{
  margin-top: -60px;
  background: white;
  font-size: 13px;
}
.chartBox{
  display: flex;
  flex-direction: column;
}
.chartsPosition{
  display: flex;
  justify-content: space-around;
  background:white;
  width: 1155px;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.chart2Text{
  text-align: center;
  font-size: 13px;
  color: #595959;
}

//......................................footer
.footerBoxes{
  background: #d6cfd6;
  display: flex;
  justify-content: space-around;
}
.footerBox1 , .footerBox2{
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #595959;
}
footer{
  display: flex;
  flex-direction: column;
}
.IconLine{
background: #f0e4f0;
  align-items: center;
}
.iconList {
  list-style: none;
  color: #aba4ab;
  padding-bottom: 1%;
}
.left{
  float: right;
  margin-left: 10px;
}
.right{
  float: left;
  margin: 0;
}

